Unescaped control characters fire an error in jq

Control characters in the inclusive range `U+0000` to `U+001F` are invalid [per section 7 of RFC 7159](https://tools.ietf.org/html/rfc7159#section-7), and jq handles this by firing off a slightly difficult-to-debug error (in our use case). Because of this, passing any unescaped control characters _including CR, LF, and tabs_ causes discord.sh to fail to send the message (specifically, Discord rejects the message with "cannot send an empty message" since jq bails out).

As of now, this will not be fixed. It will be up to the end user to escape desired control characters using `sed` and/or `tr`.

Reasons:

- Escaping and/or removing control characters inside discord.sh requires us to add dependencies, specifically `sed` and/or `tr`. This breaks the goal of maximum portability.

Sources:

- [RFC 7159](https://tools.ietf.org/html/rfc7159#section-7)
- [How can I replace a newline with its escape sequence? - Unix.SE](https://superuser.com/questions/955935/how-can-i-replace-a-newline-with-its-escape-sequence)
- [Removing control characters from a file - StackOverflow](https://stackoverflow.com/questions/14680100/removing-control-characters-from-a-file)

Workaround examples:

- [My own workaround](https://github.com/ChaoticWeg/slack-deletefiles/blob/master/run.sh#L29)

Do you have an example of a workaround you came up with? Comment it here.